<div class="container">
    <%= form_for(@subvice) do |f| %>
        <h2 class="form-signin-heading">Edit Sub Category</h2>
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, required: true, :class => "form-control" %>
        </div>

        <div class="field">
            <%= f.label :average_amount_consumed_per_day %>
            <%= f.text_field :consumed_per_day, :class => "form-control" %>
        </div>

        <div class="field">
            <%= f.label :average_cost_per_day %>
            <%= f.text_field :cost_per_day, :class => "form-control" %>
        </div>

        <div class="field">
            <%= f.label :goal %>
            <%= f.text_field :goal, :class => "form-control" %>    
        </div>

        <div class="actions">
            <%= f.submit "Update Sub Category", :class => "btn btn-lg btn-primary btn-block" %>
        </div>  
    <% end %>  
</div>
