<div class="container">
    <div class="jumbotron">
        <%= form_for([@vice, @subvice]) do |f| %>
            <div class="heading">New Sub Category</div>
            <div class="field">
                <%= f.label :name %>
                <%= f.text_field :name, required: true, :class => "form-control" %>
            </div>

            <div class="field">
                <%= f.label :average_amount_consumed_per_day %>
                <%= f.text_field :consumed_per_day, :class => "form-control" %>
            </div>

            <div class="field">
                <%= f.label :average_cost_per_day %>
                <%= f.text_field :cost_per_day, :class => "form-control" %>
            </div>

            <div class="field">
                <%= f.label :goal %>
                <%= f.text_field :goal, :class => "form-control" %>    
            </div><br />

            <div class="actions">
                <%= f.submit "Create Sub Category", :class => "btn btn-lg btn-primary btn-block" %>
            </div>
        <% end %>
    </div>
</div>
