<div class="container">
    <div class="jumbotron form-container">
        <%= form_for([@vice, @subvice]) do |f| %>
            <div class="heading">New Sub Category</div>
            
            <div class="field">
                <%= f.text_field :name, required: true, placeholder: 'Name', :class => "form-control" %>
            </div>

            <div class="field">
                <%= f.text_field :consumed_per_day,  placeholder: 'Amount per day', :class => "form-control" %>
            </div>

            <div class="field">
                <%= f.text_field :cost_per_day, placeholder: 'Avg cost per day', :class => "form-control" %>
            </div>

            <div class="field">
                <%= f.text_field :goal, placeholder: 'Goal', :class => "form-control" %>    
            </div><br />

            <div class="actions">
                <%= f.submit "Create Sub Category", :class => "btn btn-lg btn-primary" %>
            </div>
        <% end %>
    </div>
</div>
