<div class="container">
    <div class="jumbotron">
        <div class="heading"><%= current_user.username %> - Your Timeline</div>
    </div>

    <div>
        <% current_user.purchases.order("created_at DESC").each do |purchase| %>
        <div class="index-purchase">
            <div class="row">  
                <div class="column"><%= purchase.subvice.vice.name %></div>
                <div class="right column"><%= purchase.created_at.to_time.strftime('%B %e at %l:%M %p') %></div>
            </div>
            <div class="row">
                <div class="column">Quantity</div>
                <div class="right column">Cost</div>                   
            </div>
            <div class="row">
                <div class="column"><%= purchase.quantity %></div>
                <div class="right column">$<%= purchase.cost %></div>                    
            </div>
        </div>
        <% end %>
        <div class="index-purchase">
            <div class="row">
                You joined <%= current_user.created_at.to_time.strftime('%B %e at %l:%M %p') %>
            </div>            
        </div>
    </div>
</div>