<div class="container">
    <div class="jumbotron">
        <h1><%= current_user.username %>, your timeline</h1>
    </div>

    <div class="timeline">
        <div class="day">
            <div class="end"></div>
        </div>
        <% current_user.purchases.order("created_at DESC").group_by(&:group_by_criteria).each do |k,v| %>
        <div class="day">
            <div class="date">
                <span class="head"><%= k.to_time.strftime('%B %e') %></span>
            </div>
            <div class="marker">
            </div>
            <div class="circle-box">
                <span class="outer-circle"></span><span class="inner-circle"></span>
            </div>
            
            <div class="triangle-box">
                <span class="left-triangle"></span>
            </div>            
            <div class="purchases">
                <div class="box">
                    <% v.each do |x| %>
                        <div>
                            <%= x.quantity %> 
                            (<%= x.subvice.name %>) totalling 
                            $<%= x.cost %> 
                            <%= x.created_at.to_time.strftime('at %l:%M %p') %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>
        
        <div class="day">
            <div class="large-circle"></div>
            <div class="joined">
                You joined <%= current_user.created_at.to_time.strftime('%B %e at %l:%M %p') %>
            </div>
        </div>
    </div>

</div>