<div class="container">
    <div class="jumbotron">
        <div class="heading"><%= current_user.username %> - Your Timeline</div>
    </div>

    <div>
        <% current_user.purchases.order("created_at DESC").group_by(&:group_by_criteria).each do |k,v| %></div>
            <a href="#<%=k%>" class="head"><%= k.to_time.strftime('%B %e') %></a>
            <% v.each do |x| %>
                <ul id="<%=k%>" class="content">
                    <li>name = <%= x.subvice.vice.name %></li>
                    <li>quantity = <%= x.quantity %></li>
                    <li>cost = <%= x.cost %></li>
                </ul>
            <% end %>
        <% end %>

</div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.head').click(function(e){
                e.preventDefault();
                $(this).closest('li').find('.content').not(':animated').slideToggle();
            });
        });
    </script>


