<div class="container">
    <div class="jumbotron">
        <div class="heading"><%= current_user.username %>, Your Timeline</div>
    </div>

    <div>
        <ul class="timeline">
        <% current_user.purchases.order("created_at DESC").group_by(&:group_by_criteria).each do |k,v| %>
            <li>
                <div class="date">
                    <a href="#<%=k%>" class="head"><%= k.to_time.strftime('%B %e') %></a>
                    <span class="marker"></span>
                </div>
                <div class="info">
                    <ul id="<%=k%>" class="content">
                        <% v.each do |x| %>
                            <li>
                                <%= x.quantity %> 
                                (<%= x.subvice.name %>) totalling 
                                $<%= x.cost %> 
                                <%= x.created_at.to_time.strftime('at %l:%M %p') %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </li>
        <% end %>
        </ul>
        <ul class="timeline">
            <div class="date">
                <li>You joined <%= current_user.created_at.to_time.strftime('%B %e at %l:%M %p') %></li>
            </div>
            
        </ul>
    </div>

</div>