<div class="container">
    <div class="jumbotron">
        <div class="heading"><%= @vice.name %></div>
        <span><%= link_to 'Remove Vice', @vice, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
    <div class="chart-heading">Amount consumed per day</div>
    <div>
        <%= column_chart @subvices.map{|subvice|
        {name: subvice.name, data: subvice.purchases.group_by_day(:created_at).sum(:quantity)}
        } %> 
    </div>
    
    <div class="add-subvice">
        <%= link_to 'Add Sub category', new_vice_subvice_path(@vice) %>
    </div>

    <% if @subvices.present? %>
        <% @subvices.each do |subvice| %>
            <div class="col-lg-4">
                <div class="subvice-box">
                    <div class="vice-name">
                        <%= subvice.name.capitalize %>
                    </div>
                    <div>
                        <%= distance_of_time_in_words(Time.now - current_user.last_time_consumed(subvice.id)) %> since you last drank <%= subvice.name %>
                    </div>
                    <% if current_user.goal_achieved(subvice, Time.now) %>
                        <div><span class="label label-success">You're on track to achieve daily goal</span></div>
                    <% else %>
                        <div><span class="label label-fail">You did not achieve daily goal</span></div>
                    <% end %>
                    <div class="subvice-modifiers">
                        <%= link_to 'Add Purchase', new_subvice_purchase_path(subvice) %>
                        <%= link_to 'Edit', edit_subvice_path(subvice) %> 
                        <%= link_to 'Remove', subvice, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                    <div class="overlay"></div>
                    <div class="corner-overlay-content">+</div>
                </div>
                
            </div><!-- /.col-lg-4 -->
        <% end %>
    <% else %>
        <div class="subvice-box">
            <div class="row">
                <div class="column vice-name">You haven't added any subvices yet.</div>
            </div>
        </div>
    <% end %>
</div>

