<div class="container">
    <div class="jumbotron">
        <div class="heading"><%= @vice.name %></div>
        <span><%= link_to 'Delete Vice', @vice, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
    <div>
        <%= column_chart @subvices.map{|subvice|
        {name: subvice.name, data: subvice.purchases.group_by_day(:created_at).sum(:quantity)}
        } %> 
    </div>
    
    <div>
        <%= link_to 'Add Sub category', new_vice_subvice_path(@vice) %>
    </div>



    <% if @subvices.present? %>
        <% @subvices.each do |subvice| %>
            <div class="show-subvice">
                <div>
                    <%= subvice.name %>
                </div>
                <div>
                    <%= link_to 'edit', edit_subvice_path(subvice) %>
                </div>
                <div>
                    <%= link_to 'delete', subvice, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
                <div>
                    <%= link_to 'add purchase', new_subvice_purchase_path(subvice) %>
                </div>
                <div>
                    <%= distance_of_time_in_words(Time.now - current_user.last_time_consumed(subvice.id)) %> since your last <%= subvice.name %>
                </div>
                <% if current_user.goal_achieved(subvice, Time.now) %>
                    <div><span class="label label-success">On track to achieve goal today</span></div>
                <% else %>
                    <div><span class="label label-danger">Did not achieve goal today</span></div>
                <% end %>
                <div>
                    Totals
                </div>
                <div>
                    Stated average minus actual spent
                </div>
                <div>
                    $<%= (subvice.cost_per_day * current_user.days_since_subvice_created(subvice) - subvice.purchases.sum('cost')).round(2) %>
                </div>
                <div>
                    Stated average minus actual consumption
                </div>
                <div>
                    <%= (subvice.consumed_per_day * current_user.days_since_subvice_created(subvice) - subvice.purchases.sum('quantity')).round(2) %>
                </div>
            </div><!-- /.col-lg-4 -->
        <% end %>
    <% end %>
</div>

