<h2>Show Vice</h2>

<p><%= @vice.name %></p>
<%= link_to 'Back', vices_path %>
<p><%= link_to 'Delete Vice', @vice, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    <%= column_chart @subvices.map{|subvice|
        {name: subvice.name, data: subvice.purchases.group_by_day(:created_at).sum(:quantity)}
    } %>

    <%= line_chart @subvices.map{|subvice|
        {name: subvice.name, data: subvice.purchases.group_by_day(:created_at).sum(:cost)}
    } %>

<% if @subvices.present? %>
    <% @subvices.each do |subvice| %>
    <ul>
        <li><%= subvice.name %></li>
        <li><%= distance_of_time_in_words(Time.now - current_user.last_time_consumed(subvice.id)) %> since last consumed</li>

        <li>On track to achieve todays goal: <%= current_user.goal_achieved(subvice, Time.now) %></li>
        <li>test goal: <%= current_user.goal_achieved(subvice, subvice.created_at) %></li>

        <li>Would have spent - Actually spent $
            <%= subvice.cost_per_day * current_user.days_since_subvice_created(subvice) - subvice.purchases.sum('cost') %></li>

        <li>Would have consumed - Actually consumed 
            <%= subvice.consumed_per_day * current_user.days_since_subvice_created(subvice) - subvice.purchases.sum('quantity') %></li>

        <li><%= link_to 'add purchase', new_subvice_purchase_path(subvice) %></li>
        <li><%= link_to 'edit sub category', edit_subvice_path(subvice) %></li>
        <li><%= link_to 'Delete sub category', subvice, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
    
    <% end %>
<% end %>

<p><%= link_to 'Add Sub category', new_vice_subvice_path(@vice) %></p>


