<h2>Show Vice</h2>

<p><%= @vice.name %></p>
<%= link_to 'Back', vices_path %>
<p><%= link_to 'Delete Vice', @vice, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    <%= line_chart @subvices.map{|subvice|
        {name: subvice.name, data: subvice.purchases.group_by_day(:created_at).sum(:quantity)}
    } %>

    <%= bar_chart @subvices.map{|subvice|
        {name: subvice.name, data: subvice.purchases.group_by_day(:created_at).sum(:cost)}
    } %>

<% if @subvices.present? %>
    <% @subvices.each do |subvice| %>
    <ul>
        <li><%= subvice.name %></li>
        <li><%= subvice.consumed_per_day %></li>
        <li><%= subvice.cost_per_day %></li>
        <li><%= subvice.goal %></li>
        <li><%= link_to 'add purchase', new_subvice_purchase_path(subvice) %></li>
        <li><%= link_to 'edit sub category', edit_subvice_path(subvice) %></li>
        <li><%= link_to 'Delete sub category', subvice, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
    
    <% end %>
<% end %>

<p><%= link_to 'Add Sub category', new_vice_subvice_path(@vice) %></p>


