<!DOCTYPE html>
<html>
<head>
  <title>Vicetracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container-max">
        <div>
            <%= render :partial => "shared/header" %>
        </div>
        <div class="container">
            <%= notice %>
            <%= alert %>
        </div>

        <%= yield %>
    </div>


    <script>
      $(document).ready(function(){
        $('.carousel').carousel();
      });
    </script>
</body>
</html>
