<!DOCTYPE html>
<html>
<head>
  <title>Vicetracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

    <%= link_to 'logout', destroy_user_session_path, :method => :delete %>

<%= yield %>


</body>
</html>
